
            body { background: #fff; color: black}
            #box { padding:20px; margin:30px auto; max-width:70%; border:1px solid #000; text-align:center; border-radius:5px; }
    
            a { color:black; text-align:center; text-decoration:none}
            p { color:black; text-align:center; text-decoration:none}  
            h1 { color:black; text-align:center; text-decoration:none}
            p { margin-top:10px; }
            .blue { background-color:rgba(0, 0, 0, 0.3); color:#fff; }
            .red { background:#ff0000; color:#fff; }
            .yellow { background:#FFCE50; color:#000; }
            footer {
            text-align: center;
                padding: 10px;
                background-color:rgba(0, 0, 0, 0.3); color:#fff;
                }
button{border:2px solid #000;
        border-radius:20px; padding:5px; 
        margin-right:5px; margin-left:5px;
        padding-right:15px; padding-left:15px; 
        padding-top:10px; padding-bottom:10px; 
background-color:rgba(0, 0, 0, 0.1);
transition-duration: .2s;}
button:hover{border:2px solid #000;
    transition-duration: .2s;
        border-radius:25px; padding:10px; 
        margin-right:10px; margin-left:10px;
        padding-right:20px; padding-left:20px; 
        padding-top:15px; padding-bottom:15px; 
background-color:rgba(0, 0, 0, 1)}
